<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/robotSpareBinIndustriesAutomationTesting">
       <classes>
           <class name="Tests.TestLogInPage"/>
           <class name="Tests.TestHomePage"/>
       </classes>
    </test>
</suite>